In [1]:
import pandas as pd
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [3]:
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 50)

In [7]:
temp = pd.read_csv("data/subway/서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv", encoding='cp949')
temp.head(3)

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,07시-08시 하차인원,08시-09시 승차인원,08시-09시 하차인원,09시-10시 승차인원,09시-10시 하차인원,10시-11시 승차인원,10시-11시 하차인원,11시-12시 승차인원,11시-12시 하차인원,12시-13시 승차인원,12시-13시 하차인원,13시-14시 승차인원,13시-14시 하차인원,14시-15시 승차인원,14시-15시 하차인원,...,16시-17시 승차인원,16시-17시 하차인원,17시-18시 승차인원,17시-18시 하차인원,18시-19시 승차인원,18시-19시 하차인원,19시-20시 승차인원,19시-20시 하차인원,20시-21시 승차인원,20시-21시 하차인원,21시-22시 승차인원,21시-22시 하차인원,22시-23시 승차인원,22시-23시 하차인원,23시-24시 승차인원,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202212,1호선,동대문,762,8,10546,1950,8505,5809,13440,10380,18824,19859,18641,21156,16546,21489,18381,25798,22990,26741,25110,24552,27548,23536,...,29057,21836,27937,20960,23840,20880,17073,19232,14042,13375,13368,11520,10411,11303,4793,8824,588,2402,23,254,1,4,0,0,20230103
1,202212,1호선,동묘앞,194,5,2748,1031,3605,4484,6064,8011,10633,19614,8934,16106,9662,17978,14509,24904,20576,29326,26930,32414,31647,30359,...,35073,17921,28363,12638,16538,10124,7857,7483,5220,5862,4406,5628,3394,6372,1358,3859,122,1683,2,453,0,36,0,0,20230103
2,202212,1호선,서울역,604,24,8028,7918,12137,44148,38148,100206,66885,212880,57091,153222,59851,82986,78423,73091,87639,85302,88454,84810,77844,74634,...,118826,86127,172813,97338,211286,101385,111667,69010,83684,51711,86082,46253,59774,30941,26461,15356,2776,3500,43,707,1,46,0,0,20230103

In [10]:
temp = pd.read_csv("data/subway/서울시 지하철 역사 편의시설 현황.csv", encoding='cp949')
temp.head(3)

,지하철역ID,지하철역명,호선,엘리베이터유무,휘체어리프트유무,환승주차자유무,자전거보관소유무,무인민원발급기유무,환전키오스크유무,기차예매역유무,문화공간유무,문화공간유무.1,유아수유방유무
0,150,서울역,01호선,Y,Y,N,NaN,N,N,N,N,N,N
1,151,시청,01호선,Y,N,N,NaN,N,N,N,N,N,N
2,152,종각,01호선,Y,N,N,NaN,Y,N,N,N,N,N